
.descriptionprojet{

	width:100%;
	max-width: 1000px;
	color: $blanc;
	font-family: 'din';
	margin: auto;
	padding: 0 30px;

	.ordi{
		width: 100%;
		max-width: 900px;
		margin: 0 auto 100px;
	}

	.capture{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
	}

	.titreprojet{

		color: $yellow;
		@include fs (40);
		text-align: center;
		font-family: 'Passion One', cursive;
		position: relative;
		margin-bottom: 50%;
		margin-top:35%;
	}

	.quic{


	}
	.infosup{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 50px;
		margin-bottom: 50px;


		.alone{
			// background: yellow;
			width: calc(25% - 4%);
			margin-bottom: 3rem;
			margin-right: 4%;
			&:last-child { margin-right: 0; }
			@include responsive(smartphone) {
				width: calc(50% - 4%);
				&:nth-child(even) { margin-right: 0; }
				margin-bottom: 1rem;
			}
			color: grey;

			.point{
				color: $yellow;
				@include fs (40);
				font-family: 'Passion One', cursive;
			}

			.reponse{
				color: $blanc;
			}
		}

	}

	.liensite{
		text-decoration: none;
		text-align: center;
		color: $yellow;
		font-family: 'Passion One', cursive;
	}
}

